.header{
  height: 200px;
  position:relative;
  background-position: center;
  background-size: 100%;
  background-repeat:no-repeat;
  background-image: url('../images/bg-img2.jpg');
    .header-text{
    position: absolute;
    height: 50px;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    line-height: 50px;
  }
}
