#banner {
  background-image: url('../img/cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: auto;

  #topic {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
    width: 50%;

    h1 {
      font-size: 3rem;
      letter-spacing: 3px;
      margin: 0;
      text-transform: uppercase;
      font-family: serif;
    }
  }

  #topic_button {
    display: block;
    font-size: 1.3rem;
    color: #fff;
    background: #2c2d2e;
    width: 55%;
    margin: 20px auto 0;
    padding: 15px 0;
  }
}
#shipping{
  background: #ddd;
  color: #555;
  text-align: center;
  padding: 15px 0;
  font-size: 1.1rem;
  letter-spacing: .2em;
  text-transform: uppercase;
}
