#footer {
  background: #525050;
  color: #d4d4d4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &>div{
    margin: 50px 0;
  }
  p {
    text-transform: uppercase;
    margin: 0 0 10px 0;
  }

  a {
    color: #f4f4f4;
  }

  a:hover {
    color: #fff;
  }

  #social {
    min-width: 325px;
    text-align: center;
    a {
      padding: 0 14px;
      font-size: 1.2rem;
    }
  }

  #subscribe {
    min-width: 325px;
    margin: 50px 50px;

    input[type='email'] {
      background-color: #525050;
      color: white;
      border: 1px solid white;
      padding: 5px;
      margin: 10px 0;
      width: 100%;
    }

    #button_position {
      text-align: right;
    }

    button {
      background-color: #d3d3d3;
      border: none;
      color: black;
      padding: 7px;
    }
  }

  #contact {
    min-width: 325px;
    text-align: center;
  }
}
