.book-block {
  margin-bottom: 12px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 300px;
  animation-name: show-book;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
  background-color: #eeeeee;
  border: 0 solid;border-radius: 5px;
  img {
    max-height: 170px;
  }
  a {
    align-self: center;
    color: #0066c0;
    text-decoration: none;
  }
  a:hover {
    color: #e47911;
    text-decoration: underline;
  }
  .information-block {
    .name {
      // line-clamp: 2;
      box-orient: vertical;
      white-space: normal;
    }
    .origin-price {
      font-size: 12px;
      text-decoration:line-through;
      display: inline;
      color: 222831;
    }
    .sell-price {
      font-size: 20px;
      color: green;
      display: inline;
    }
    .isbn {
      color:#222831;
      font-size: 14px;
    }
  }
}

@keyframes show-book {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
