.search {
  display: flex;
  justify-content: center;
}
.paging {
  display: flex;
  justify-content: center;
}
.books-block{
  min-height: 800px;
  .books {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .books-block{
    .books {
      margin-top: 90px;
    }
  }
}
