.search {
  display: flex;
  justify-content: center;
}
.paging {
  display: flex;
  justify-content: center;
}
.books {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
