@for $i from 0 through 64 {
  .m-#{$i * 4} {
    margin: #{$i * 4}px;
  }
  .mt-#{$i * 4} {
    margin-top: #{$i * 4}px;
  }
  .mb-#{$i * 4} {
    margin-bottom: #{$i * 4}px;
  }
  .ml-#{$i * 4} {
    margin-left: #{$i * 4}px;
  }
  .mr-#{$i * 4} {
    margin-right: #{$i * 4}px;
  }
  .mx-#{$i * 4} {
    margin-left: #{$i * 4}px;
    margin-right: #{$i * 4}px;
  }
  .my-#{$i * 4} {
    margin-top: #{$i * 4}px;
    margin-bottom: #{$i * 4}px;
  }
  .p-#{$i * 4} {
    padding: #{$i * 4}px;
  }
  .pt-#{$i * 4} {
    padding-top: #{$i * 4}px;
  }
  .pb-#{$i * 4} {
    padding-bottom: #{$i * 4}px;
  }
  .pl-#{$i * 4} {
    padding-left: #{$i * 4}px;
  }
  .pr-#{$i * 4} {
    padding-right: #{$i * 4}px;
  }
  .px-#{$i * 4} {
    padding-left: #{$i * 4}px;
    padding-right: #{$i * 4}px;
  }
  .py-#{$i * 4} {
    padding-top: #{$i * 4}px;
    padding-bottom: #{$i * 4}px;
  }
}

// font-size
@for $i from 0 through 64 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

// width and height
@for $i from 0 through 50 {
  .w-#{$i*2}-p {
    width: #{$i * 2}#{'%'};
  }
  .h-#{$i*2}-p {
    height: #{$i * 2}#{'%'};
  }
}
