.media {
  .block {
    height: 40px;
    background-color: #E3E3E3;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
      font-size: 14px;
      color: #666;
      letter-spacing: 3px;
    }
  }
}
