footer {
   background-color: #535151;
   padding-top: 110px;
   .footerContainer {
      margin: 0 auto;
      justify-content: space-between;
      width: 75%;
      align-items: flex-start;
      flex-wrap: wrap;
   }
   .assistance,
   .connected,
   .email {
      width: 30%;
      display: flex;
      flex-direction: column;
      h5 {
         font-size: 16px;
         color: #D2D2D2;
         font-family: sans-serif;
         line-height: 40px;
      }
      input {
         background-color: #535151;
         line-height: 45px;
         font-size: 17px;
         border: 2px solid #F1F1F1;
         padding-left: 5px;
      }
      button {
         font-size: 16px;
         line-height: 40px;
         background-color: #D3D3D3;
         color: #3D3D3E;
         padding: 0 17px;
         margin-left: auto;
         margin-top: 12px;
         border: none;
      }
   }
   .connected{
     align-items: center;
   }
   .assistance {
      align-items: center;
      p {
         font-size: 15px;
         font-family: sans-serif;
         color: #D2D2D2;
         font-weight: bold;
         margin-bottom: 5px;
         color: white;
      }
   }
   .copyright {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      line-height: 197px;
      text-align: center;
      color: #D2D2D2;
      font-family: 'Raleway',sans-serif;
      a {
         text-decoration: underline;
         text-decoration-color: black;
         color: #D2D2D2;
      }
   }
}
