header {
   background-color: #535151;
   display: flex;
   justify-content: center;
   .header_container {
      padding: 30px 0;
      justify-content: space-between;
   }
   .logo {
     background-image: url("../static/images/logo.png");
      // color: #D2D2D2;
      // font-family: sans-serif;
      // font-size: 28px;
      // font-weight: bold;
      // letter-spacing: 9px;
   }
   nav {
      display: flex;
      li{
        margin-left: 20px;
        a {
           color: #D3D3D3;
           font-size: 22px;
           font-family: sans-serif;
           &:hover {
              color: white;
           }
        }
      }
   }
}
